{% extends 'shop/base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div>
    <div class="bar">
        <div class="navigate">Навигация</div>
        <a href="/shop/main" class="home"><i class="fa fa-home "></i> Главная</a>
        <a href="#" class="collections"><i class="fa fa-bookmark"></i> Подборки для вас</a>
        <a href="#" class="about_us"><i class="fa fa-info-circle"></i> О нас</a>
        <a href="#" class="support"><i class="fa fa-question-circle"></i> Обратная связь</a>
    </div>
    <div class="content">
        {% for i in content %}
            <article class="product">
                <img class="product_image" src="{{ i.photo }}" alt="Oops! not here">
                <a href="product/?id={{i.id}}" class="description">{{ i.name }}</a>
                <div class="price">{{ i.price }} руб.</div>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
